.house {
  position: fixed;

  svg {
    transform: scale(0.6);
    transform-origin: 0 300px;
    width: 5000px;
    height: 5000px;
  }
}

@keyframes lever-broken-animation {
  0% {
    transform: rotateZ(-25deg);
  }
  20% {
    transform: rotateZ(-5deg);
  }
  40% {
    transform: rotateZ(-25deg);
  }
  60% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(-25deg);
  }
}

.leverBrokenAnimation {
  animation: lever-broken-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes lever-fixed-animation {
  0% {
    transform: rotateZ(-25deg);
  }
  100% {
    transform: rotateZ(25deg);
  }
}

.leverFixedAnimation {
  animation: lever-fixed-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.lever {
  transform: rotateZ(-25deg);
  transform-origin: 50% 90%;
  background-color: white;
  position: absolute;
  width: 2px;
  height: 40px;
  border: 2px solid white;
  left: 181px;
  top: 275px;
  border-radius: 50px;

  & > div {
    width: 20px;
    height: 20px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.interactionArea {
  position: absolute;
  border: 2px solid red;
}

@keyframes wifi-animation {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wifiAnimation {
  animation: wifi-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

.wifiContainer {
  position: absolute;
  left: 1236px;
  top: 216px;
}

.wifiCross {
  position: relative;
  width: 40px;
  height: 3px;
  background-color: red;
  transform: rotate(45deg);
  top: 11px;
  left: 2px;
}

.wifi {
  padding: 4px;
}

.wifi, .wifi:before {
	display: inline-block;
	border: 10px double transparent;
	border-top-color: white;
	border-radius: 50%;
}

.wifi:before {
	content: '';
	width: 0; height: 0;
}

.tips {
  position: fixed;
  border: 3px solid white;
  left: calc(50% + 50px);
  top: calc(50% - 130px);
  background-color: black;
  opacity: 0;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: opacity 0.5s, transform 0.5s;
  transform-origin: 0 0;
}

.tipsVisible {
  opacity: 0.7;
  transform: rotateZ(-25deg);
}

.oil {
  position: absolute;
  left: 1631px;
  top: 599px;

  svg {
    position: relative;
    transform: scale(0.4);
  }
}

.wireContainer {
  & > div:first-child {
    div {
      position: absolute;
      height: 5px;
      background-color: white;
    }

    & > div:nth-child(1) {
      left: 680px;
      top: 782px;
      width: 41px;
    }

    & > div:nth-child(2) {
      left: 659px;
      top: 803px;
      width: 46px;
      transform: rotateZ(90deg);
    }

    & > div:nth-child(3) {
      left: 817px;
      top: 803px;
      width: 46px;
      transform: rotateZ(90deg);
    }

    & > div:nth-child(4) {
      left: 801px;
      top: 782px;
      width: 41px;
    }
  }
}

@keyframes sparkle-animation {
  0% {
    left: 0;
    opacity: 0;
  }
  50% {
    left: 60%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

.sparkle {
  position: absolute;
  top: 783px;
  // background-color: red;
  width: 30px;
  height: 3px;
  transform-origin: 0 0;

  & > div {
    position: relative;
    width: 10px;
    height: 100%;
    background-color: yellow;
    opacity: 0;

    animation: sparkle-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  }
}

.tape {
  position: absolute;
  top: 905px;
  left: 1220px;

  svg {
    transform: scale(0.3);
  }
}

.fixingWire {
  width: 100px;
  height: 9px;
  position: absolute;
  top: 780px;
  left: 713px;
  background-color: white;
}

@keyframes gear-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.staticGear {
  position: absolute;
  top: 1162px;
  left: 210px;
  width: 100px;
  height: 100px;

  animation: gear-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;

  svg {
    position: relative;
    top: -187px;
    left: 50%;
    transform: scale(0.3) translateX(-50%);
    width: 190px;
    height: 190px;
  }
}

.emptyGear {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 1207px;
  left: 199px;
  border: 1px solid white;
  border-radius: 50%;
}
