.house {
  position: fixed;
  border: 2px solid red;
  // width: 5000px;
  // height: 5000px;

  svg {
    transform: scale(0.7);
    width: 5000px;
    height: 5000px;
  }
}

// .computer {
//   position: absolute;
//   width: 100px;
//   height: 100px;
//   border: 2px solid black;
//   left: 500px;
//   top: 500px;
// }
