$heroWidth: 200px;
$heroBorder: 1px solid white;
$heroBackgroundColor: white;

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  user-select: none;
}

.hero {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: $heroWidth;
  height: 350px;
}

@keyframes head-move-animation {
  0% {
    transform: rotateZ(-5deg);
  }
  45% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}

.headMoveAnimation {
  transform-origin: 50% 80%;
  animation: head-move-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

.head {
  background-color: $heroBackgroundColor;
  position: absolute;
  width: 35px;
  height: 35px;
  border: $heroBorder;
  border-radius: 100px;
  top: -20px;
  left: -13px;
}

@keyframes chest-stand-animation {
  0% {
    transform: rotateZ(-1deg);
  }
  50% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(-1deg);
  }
}

.chestStandAnimation {
  transform-origin: 50% 80%;
  animation: chest-stand-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes chest-move-animation {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.chestMoveAnimation {
  transform-origin: 50% 80%;
  animation: chest-move-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

.chest {
  background-color: $heroBackgroundColor;
  position: absolute;
  width: 15px;
  height: 100px;
  border: $heroBorder;
  border-radius: 100px;
  top: 85px;
  left: 100px;
  z-index: 20;
}

.arm {
  position: absolute;
  left: 0px;
  top: 12px;
}

.armPart {
  // border: $heroBorder;
  border-radius: 100px;
  box-sizing: border-box;
}

@keyframes shoulder-stand-animation {
  0% {
    transform: rotateZ(-5deg);
  }
  45% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}

.shoulderStandAnimation {
  transform-origin: 50% 10%;
  animation: shoulder-stand-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes shoulder-move-animation {
  0% {
    transform: rotateZ(-15deg);
  }
  45% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}

.shoulderMoveAnimation {
  transform-origin: 50% 10%;
  animation: shoulder-move-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes shoulder-with-light-animation {
  0% {
    transform: rotateZ(5deg);
  }
  // 45% {
  //   transform: rotateZ(25deg);
  // }
  100% {
    transform: rotateZ(15deg);
  }
}

.shoulderWithLightAnimation {
  transform-origin: 50% 10%;
  animation: shoulder-with-light-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.shoulder {
  position: relative;
  background-color: $heroBackgroundColor;

  width: 15px;
  height: 40px;
}

@keyframes forearm-stand-animation {
  0% {
    transform: rotateZ(0deg);
  }
  45% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.forearmStandAnimation {
  transform-origin: 50% 10%;
  animation: forearm-stand-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes forearm-move-animation {
  0% {
    transform: rotateZ(0deg);
  }
  45% {
    transform: rotateZ(25deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.forearmMoveAnimation {
  transform-origin: 50% 10%;
  animation: forearm-move-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes forearm-with-light-animation {
  0% {
    transform: rotateZ(45deg);
  }
  // 45% {
  //   transform: rotateZ(45deg);
  // }
  100% {
    transform: rotateZ(55deg);
  }
}

.forearmWithLightAnimation {
  transform-origin: 50% 10%;
  animation: forearm-with-light-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  & > div {
    position: relative;
    width: 10px;
    height: 30px;
    background-color: white;
    top: 60%;
    transform: rotateZ(45deg);

    & > div {
      position: relative;
      width: 200vw;
      height: 200vw;
      // border: 5px solid green;
      transform: translate(-50%, -50%);

      display: flex;

      & > div:first-child, & > div:last-child {
        flex: 1;
        background-color: black;
      }

      & > div:nth-child(2) {
        width: 600px;

        display: flex;
        flex-direction: column;

        // & > div {
        //   border: 5px solid black;
        // }

        & > div:first-child, & > div:last-child {
          height: calc(50% + 200px);
          background-color: black;
        }

        & > div:last-child {
          height: calc(50% - 200px);
        }

        & > div:nth-child(2) {
          height: 1400px;
          background-image: radial-gradient(at 50% 50%, rgba(255, 255, 0, 0.05), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
        }
      }
    }
  }
}

.forearm {
  position: relative;
  top: 80%;
  background-color: $heroBackgroundColor;
  width: 15px;
  height: 50px;
}

.leg {
  position: absolute;
  left: 101px;
  top: 173px;
}

.legPart {
  border: $heroBorder;
  border-radius: 100px;
  box-sizing: border-box;
}

@keyframes thigh-stand-animation {
  0% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

.thighStandAnimation {
  transform-origin: 50% 10%;
  animation: thigh-stand-animation;
  animation-duration: 0s;
}

@keyframes thigh-move-animation {
  0% {
    transform: rotateZ(-10deg);
  }
  45% {
    transform: rotateZ(25deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

.thigh-move-animation {
  transform-origin: 50% 10%;
  animation: thigh-move-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

.thigh {
  position: relative;
  background-color: $heroBackgroundColor;
  width: 15px;
  height: 50px;
}

@keyframes calf-stand-animation {
  0% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

.calfStandAnimation {
  transform: rotateZ(-10deg);
  transform-origin: 50% 10%;
}

@keyframes calf-move-animation {
  0% {
    transform: rotateZ(-5deg);
  }
  30% {
    transform: rotateZ(-55deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}

.calfMoveAnimation {
  transform-origin: 50% 10%;
  animation-name: calf-move-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

.calf {
  position: relative;
  background-color: $heroBackgroundColor;
  top: 80%;
  width: 15px;
  height: 50px;

  & > div:first-child svg {
    position: absolute;
    width: 75px;
    height: 229px;
    transform: scale(0.4);
    top: -66px;
    left: -18px;
  }
}

@keyframes forearm1-programming-animation {
  0% {
    transform: rotateZ(-95deg);
  }
  100% {
    transform: rotateZ(-125deg);
  }
}

@keyframes forearm2-programming-animation {
  0% {
    transform: rotateZ(95deg);
  }
  100% {
    transform: rotateZ(125deg);
  }
}

.programming {
  .arm:nth-child(2) .shoulder {
    transform: rotateZ(45deg);
    animation: none;
    height: 50px;

    .forearm {
      transform: rotateZ(-95deg);
      animation: forearm1-programming-animation;
      animation-duration: 0.3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
      height: 20px;
    }
  }

  .arm:nth-child(3) .shoulder {
    transform: rotateZ(-45deg);
    animation: none;
    height: 50px;

    .forearm {
      transform: rotateZ(95deg);
      animation: forearm2-programming-animation;
      animation-duration: 0.3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-delay: -0.3s;
      height: 20px;

      * {
        position: fixed;
      }
    }
  }

  .arm:nth-child(4) .shoulder {
    transform: rotate(45deg) translate(20px, -80px);
    animation: none;
    background-color: transparent;
    .forearm {
      background-color: transparent;
      animation: none;
      & > {
        div {
          background-color: transparent;
        }
      }
    }
  }

  .leg:nth-child(2) .thigh {
    transform: rotateZ(35deg);
    animation: none;

    .calf {
      transform: rotateZ(-85deg);
    }
  }
  .leg:nth-child(3) .thigh {
    transform: rotateZ(-35deg);
    animation: none;

    .calf {
      transform: rotateZ(85deg);
    }
  }
}
